.jumbotroon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #FF9900, #B5FF00);
  padding: 50px;
}

.jumbotroon h1 {
  color: #FFFFFF;
}

.jumbotroon .form {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 5px;
}

.jumbotroon .form input {
  border: none;
  padding: 5px;
  width: 350px;
}

.jumbotroon .form .btn-submit {
  border: none;
  background-color: #9D9D9D;
  padding: 15px;
  border-radius: 5px;
  color: #FFFFFF;
  width: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 625px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.card .text {
  flex: 2.5;
}

.button-action {
  flex: 1;
}

.btn-edit {
  border: none;
  background-color: #60B4DD;
  padding: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  margin-right: 10px;
  width: 75px;
}

.btn-delete {
  border: none;
  background-color: #E3F13C;
  padding: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  width: 75px;
}
